@import "hugo:vars";
@import "bootstrap/mixins";

@import "variables";

.homepage-hero-image {
  height: 30rem;
  width: 100%;
  display: block;
  background: url(/images/hero-image-1.webp);
  background-size: cover;
  max-width: $max-screen-width-size;
  margin: auto;
  @media only screen and (max-width: $mobile-breakpoint) {
    height: 25rem;
  }
}


.homepage-hero-content {
  background: var(--body-background-color);
  padding: 2rem;
  margin: 1rem;
  max-width: 25rem;
  position: relative;
  top: 6rem;
  right: 3rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .90);
  float: right;
  border-radius: var(--container-border-radius);
  & p {
    line-height: 120%;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    right: auto;
    display: block;
    top: 0;
  }
}

@include color-mode(dark) {
  .homepage-hero-content {
    box-shadow: 0rem 0rem 1.5rem rgba(#ffffff, .50);
  }
}

.homepage-card {
  background: #eafaff;
  background: var(--homepage-card-gradient);
  margin-bottom: 1rem;
  border: 1px solid var(--body-background-color-alternate);

  & h3 {
    margin-top: 0;
  }

  & p {
    padding: 0;
    margin-bottom: 1rem;
    display: block;
  }

  & a {
    margin: 0;
  }

  & .hero-image {
    min-height: 22rem;
    background-size: cover;
    background-position: center;
  }

  & .credit {
    color: white;
    text-shadow: black;
    position: relative;
    top: 87%;
    text-shadow: 0px 0px 15px black;
  }

  & .credit a {
    color: white;
    --link-color: white;
    text-decoration: none;
    margin: 0;
  }

  & .credit a:hover {
    text-decoration: underline;
  }

  & .content {
    padding: 3rem;

    & a {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}

.download-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.download-options span {
  margin-top: 1.0rem;
}

.download-options p {
  margin: 0;
}

.download-options p span { /*icon*/
  margin-left: 0.3rem;
}
