{{ define "main" }}

<div class="tabbed-section-container">
  <div class="max-content-width">
    {{ range .CurrentSection.RegularPages }}
      <a href="{{ .Permalink }}" class="me-5">{{ .Title }}</a>
    {{ end }}
  </div>
</div>

<div class="post">
  {{ .Content }}
</div>

{{ end }}
