{{ define "main" }}

<div class="post-download-hero-image">
    <span class="post-download-hero-content">
        <h2>{{ i18n "have-fun-painting" }}</h2>
    </span>
</div>

<div>
    <div class="instructions">
        <span>{{ i18n "have-trouble-downloading" }} <a href="https://community.kde.org/Kexi/Releases" target="_blank">{{ i18n "visit-release-area" }}</a>.</span>
    </div>

</div>

<div class="container-padding">

    <h1 style="text-align: center; margin-top: 1rem">{{ i18n "whats-next" }}</h1>


    <div class="row community-area">

        <h3>{{ i18n "connect-with-community" }}</h3>

        <div class="col-md-6" >
            <p>
                {{ i18n "collaborate" }}
                <a href="{{ relLangURL "/contact" }}">{{ i18n "contact" }}</a>
            </p>
        </div>

    </div>

</div>


{{ .Content }}

{{ end }}
