<!-- back to top button-->
<div id="back-to-top-button" style="display: none" onclick="backToTop()" class="ghost button">
	&blacktriangle;
</div>

<svg
id="footer-graphic"
xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink"
xml:space="preserve"
viewBox="0 0 210 25"
version="1.1">

<defs id="defs2">
	<linearGradient id="linearGradientMain"  x1="0" x2="0" y1="0" y2="1">
		<stop offset="0%"  />
		<stop offset="30%"  />
		<stop offset="100%"  />
	</linearGradient>

	<linearGradient id="linearGradientAlternate"  x1="0" x2="0" y1="0" y2="1">
		<stop offset="50%"  />
		<stop offset="80%" />
		<stop offset="90%"  />
	</linearGradient>
</defs>

<rect id="base-rectangle" x="0" y="15" width="210" height="10"  />

<g id="footer-shape-one">
	<path
	transform="translate(0,-275)"
	style="fill:url(#linearGradientMain); fill-opacity:1; stroke:none;"
	d="M 0,300 210,300 v -14 c 0,0 -27,-9 -56,-9 -28,0 -76,9 -104,8 -24,0 -48,-3 -50,-3 z" />
</g>

<g id="footer-shape-two">
	<path
	transform="translate(0,-275)"
	style="fill:url(#linearGradientAlternate); fill-opacity:1; stroke:none;"
	d="M 0,300 210,300 v -14 c 0,0 -27,-9 -56,-9 -28,0 -76,9 -104,8 -24,0 -48,-3 -50,-3 z" />
</g>

</svg>

<footer>
<div class="container-padding">
	<div class="row">
		<div class="col-md-3 footer-section">
			<h3>{{ i18n "software" }}</h3>
			<a href="{{ relLangURL "/roadmap" }}">{{ i18n "roadmap" }}</a>
			<a href="{{ relLangURL "/release-history" }}">{{ i18n "release-history" }}</a>
			<a href="https://invent.kde.org/office/kexi" target="_blank">{{ i18n "source-code" }}</a>
			<a href="{{ relLangURL "/sitemap.xml" }}">{{ i18n "site-map" }}</a>
		</div>
		<div class="col-md-3 footer-section">
			<a href="{{ relLangURL "/support" }}"><h3>{{ i18n "support" }}</h3></a>
			<a href="https://community.kde.org/Kexi/FAQ" target="_blank">{{ i18n "faq" }}</a>
			<a href="https://userbase.kde.org/Kexi/Handbook" target="_blank">{{ i18n "documentation" }}</a>
			<a href="{{ relLangURL "/file-a-bug" }}">{{ i18n "file-a-bug" }}</a>
			<a href="https://userbase.kde.org/Kexi/Tutorials" target="_blank">{{ i18n "tutorials" }}</a>
			<a href="{{ relLangURL "/privacy-statement" }}">{{ i18n "privacy" }}</a>
		</div>
		<div class="col-md-4 footer-section">
			<h3>{{ i18n "about" }}</h3>
			<a href="{{ relLangURL "/history" }}">{{ i18n "history" }}</a>
			<a href="{{ relLangURL "/donations" }}">{{ i18n "donations" }}</a>
			<a href="https://community.kde.org/Kexi/Getting_Started" target="_blank">{{ i18n "get-involved" }}</a>
			<!-- KDE site translations should work by appending language code to URL -->
			<a href="https://kde.org/community/whatiskde/" target="_blank">{{ i18n "what-is-kde" }}</a>
			<a href="https://community.kde.org/Kexi/Authors" target="_blank">{{ i18n "credits" }}</a>
			<a href="{{ relLangURL "/license" }}">{{ i18n "license" }}</a>
			<a href="{{ relLangURL "/contact" }}">{{ i18n "contact" }}</a>
		</div>

		<div class="col-md-2">
			<div class="social-media" style="margin-top: 2rem">
				{{ partial "social-media.html" . }}
			</div>
		</div>
	</div>
</div>
</footer>

<!-- Piwik (analytics)-->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['disableCookies']);
  _paq.push(['setDomains', '*.kexi-project.org']);
  _paq.push(['setDocumentTitle', document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.kde.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 13]);
    var d=document, g=d.createElement('script'),
  s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true;
  g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

  // point external links automatically outside - https://stackoverflow.com/a/4425214
  Array.from(document.links)
    .filter(link => link.hostname != window.location.hostname)
    .forEach(link => link.target = '_blank');
</script>

<noscript>
	<p>
		<img src="//stats.kde.org/piwik.php?idsite=13" style="border:0;" alt="" />
	</p>
</noscript>
<!-- End Piwik Code -->
