<a href="{{ .item.Permalink }}" class="post-item {{ .classes }}">
  <h3 class="title">{{ .item.Title | safeHTML }}</h3>
  <div class="post-item-date light-color">
    {{ partial "i18n_date.html" .item }}
  </div>

  <div class="post-item-content">
    {{ $maxLen := 160 }}
    {{ if gt (len .item.Summary) $maxLen }}
      {{ truncate $maxLen .item.Summary | plainify }}
    {{ else }}
      {{ .item.Summary | plainify }}
    {{ end }}
  </div>
</a>
