<!-- GPG signature link -->{{ $sig_url := printf "%s.sig" .url }}<a
href="{{ $sig_url }}" class="download-signature" alt='{{ i18n "gpg-signature" }}' title='{{ i18n "download-signature" }}'><svg width="22" height="22"><use href="images/signature.svg#layer1"></use></svg></a>
