
<span class="grow-container">
    <a href="https://www.youtube.com/@KexiAppsBuilder" target="_blank" class="circle-button">
        <img src="images/social-media/social-youtube.png" />
    </a>
</span>

<span class="grow-container">
    <a href="https://www.facebook.com/KexiAppsBuilder" target="_blank" class="circle-button">
        <img src="images/social-media/social-facebook.png" />
    </a>
</span>

<span class="grow-container">
    <a href="https://x.com/kexi_project" target="_blank" class="circle-button">
        <img src="images/social-media/social-x.png" />
    </a>
</span>

<span class="grow-container">
    <a rel="me" href="https://floss.social/@kexi" target="_blank" class="circle-button">
        <img src="images/social-media/social-mastodon.png" />
    </a>
</span>
