<base href="{{ .Site.BaseURL }}">

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
{{ $title := .Title }}
{{ if .IsHome }}
{{ $title = print $.Site.Title " - " $title }}
<title>{{ $title | safeHTML }}</title>
{{ else }}
<title>{{ $title | safeHTML }} - {{ $.Site.Title | safeHTML }}</title>
{{ end }}

<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">

{{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ partial "json_ld.html" . }}
