<div class="support-kexi-callout">
  <hr />

  <div class="row">
    <div class="col-md-2 illustration">
      <svg class="icon" viewBox="0 0 88 88">
          <use href="images/pages/kexi-logo.svg#layer1"></use>
      </svg>
    </div>

    <div class="col-md-10">
        <h3>{{ i18n "support-kexi-callout-title" }}</h3>
        <p>{{ i18n "support-kexi-callout-description" }} </p>
        <a href="{{ relLangURL "/donations" }}" class="ghost button">{{ i18n "donate" }}</a>
        <!-- a href="{{ relLangURL "/shop" }}" class="ghost button">{{ i18n "buy-something" }}</a -->
    </div>
  </div>

  <hr />
</div>
