{{ define "main" }}
{{ $release := .Site.Data.releases.latest }}
<div class="homepage-hero-image">

<div class="container-padding">
    <span class="homepage-hero-content">
        <p><strong>{{ .Site.Params.Description1 }}</strong> {{ .Site.Params.Description2 }} {{ .Site.Params.Description3 }}</p>

        <div class="download-options">
            <a href="{{ relLangURL "download" }}" class="button" title="{{ i18n "download-kexi" }}">{{ i18n "download" }} {{ $release.version }}</a>

            <p>
                <span title="{{ i18n "windows" }}">
                  <svg width="30" height="30">
                    <use href="images/windows-icon.svg#svg16039"></use>
                  </svg>
                </span>
                <span title="{{ i18n "linux" }}">
                  <svg width="30" height="30">
                    <use href="images/linux-icon.svg#svg16027"></use>
                  </svg>
                </span>
                <!-- span title="{{ i18n "mac-os" }}">
                  <svg width="30" height="30">
                    <use href="images/apple-icon.svg#path16529"></use>
                  </svg>
                </span -->
            </p>

        </div>

    </span>
</div>

</div>

<div class="hero-credits">
    <div class="row container-padding credits">
        <div class="col-7 social-media" style="text-align: left;">
            {{ partial "social-media.html" . }}
        </div>
        <div class="col-5 social-media"><!-- {{ i18n "made-by" }} --><span class="grow-container"><a href="https://kde.org" target="_blank" class="circle-button">
                <img src="images/pages/kde-logo.png" />
            </a></span>
        </div>
    </div>
</div>

<div class="container-padding">
    <h2 class="inline" style="margin-top: 0">{{ i18n "news" }}</h2>
    <a href="{{ relLangURL "/index.xml" }}" style="text-decoration: none; margin-right: 1rem">
        <img src="images/rss-icon.png" class="rss-icon" />
    </a>
    {{ $dir := "/posts" }}
    <a href="{{ relLangURL $dir }}" class="ghost button">{{ i18n "see-all" }}</a>

    <!-- gets all news. If current language does not have a translation, use the english version -->
    {{ $pages := (.Site.GetPage $dir).RegularPagesRecursive }}
    {{- if ne .Site .Sites.Default }}
    {{ $pages = $pages | lang.Merge (.Sites.Default.GetPage $dir).RegularPagesRecursive }}
    {{- end }}
    <div class="row">
        {{ if $pages }}
            {{ range first 4 $pages }}
                {{ if not .Params.hidden }}
                    {{ partial "post_item.html" (dict "item" . "classes" "col-md-3") }}
                {{ end }}
            {{end}}
        {{ end }}
    </div>

    <h2>{{ i18n "home-tools-title" }}</h2>
    <div class="row homepage-card">
        <div class="col-md-7 hero-image" style="background-image: url(images/pages/home-features.webp);">
        </div>
        <div class="col-md-5 content">
            <h3>{{ i18n "home-tools-feature-text" }}</h3>
            <p>{{ i18n "home-tools-feature-description" }}</p>
            <ul>
                <li>{{ i18n "home-tools-feature-benefit-1" }}</li>
                <li>{{ i18n "home-tools-feature-benefit-2" }}</li>
                <li>{{ i18n "home-tools-feature-benefit-3" }}</li>
            </ul>
            <a href="{{ relLangURL "/features" }}" class="ghost button">{{ i18n "home-tools-feature-button" }}</a>
        </div>
    </div>

    <div class="row homepage-card">
        <div class="col-md-7 hero-image" style="background-image: url(images/pages/home-closing-gap.webp);">
        </div>
        <div class="col-md-5 content">
            <h3>{{ i18n "home-desktop-databases" }}</h3>
            <p>{{ i18n "home-desktop-databases-description" }}</p>
            <p><em>{{ i18n "home-desktop-databases-description-add" }}</em></p>
            <a href="{{ relLangURL "/release-history" }}" class="ghost button">{{ i18n "home-desktop-databases-button" }}</a>
        </div>
    </div>
</div> <!-- end container-padding-->

<div class="full-width-panel dark">
    <h2>{{ i18n "free-opensource" }}</h2>
    <span>
        <p>{{ i18n "free-opensource-text" | markdownify }}</p>
        <a href="{{ relLangURL "/license" }}" >{{ i18n "free-opensource-button" }}</a>
    </span>
</div>

<div class="full-width-panel">
    <h2>{{ i18n "give-back" }}</h2>
    <span>
        <p>{{ i18n "give-back-description" }}</p>
        <a href="{{ relLangURL "/donations" }}" class="button ghost">{{ i18n "give-back-button" }}</a>
    </span>
</div>

{{ .Content }}

{{ end }}
